@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap");

/* Root */
:root {
  --primary-color: #6278cd;
  --secondary-color: #ffb55d;
  --gray-background: #eff2fb;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: "Mulish", sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* Utilities */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: var(--primary-color);
}

.l-heading {
  font-size: 40px;
  line-height: 1.2em;
}

.lead {
  font-size: 18px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: var(--primary-color);
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

.btn:hover {
  background: var(--secondary-color);
}

.bg-gray {
  background: var(--gray-background);
  color: #333;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}

.clr {
  clear: both;
}

/* Navbar */
#navbar {
  overflow: auto;
}

#navbar .logo {
  float: left;
  padding-top: 20px;
  font-size: 30px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 10px;
}

#navbar ul li a:hover {
  background: var(--primary-color);
  color: #fff;
  border-radius: 50px;
}

/* Showcase */
#showcase {
  background: url("../img/showcase.png") no-repeat center center;
  height: 90vh;
}

#showcase .showcase-content {
  text-align: left;
  color: #333;
  padding-top: 170px;
  width: 35%;
}

#showcase .showcase-content h1 {
  line-height: 1.2em;
  font-size: 50px;
}

#showcase .showcase-content p {
  line-height: 1.7em;
  padding-bottom: 20px;
}

/* Features */
#features h2 {
  text-align: center;
  margin-top: 100px;
}

.feature {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}

.feature i {
  margin-bottom: 20px;
}

.feature i:hover {
  background: var(--secondary-color);
  color: #fff;
}

.feature h3 {
  font-size: 24px;
}

.ft-circle {
  color: var(--secondary-color);
  background: #fff;
  padding: 30px;
  border-radius: 50%;
}

/* Tech-1 */

#tech-1 {
  height: 500px;
}

#tech-1 .tech-1-img {
  float: left;
  width: 50%;
  min-height: 100%;
  overflow: hidden;
}

#tech-1 .tech-1-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

/* Tech-2 */
#tech-2 {
  height: 500px;
}

#tech-2 .tech-2-img {
  float: right;
  width: 50%;
  min-height: 100%;
  overflow: hidden;
}

#tech-2 .tech-2-content {
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

/* FAQ */
#faq h2 {
  text-align: center;
}

.box {
  float: left;
  width: 30%;
  padding: 50px;
  margin: 10px;
  text-align: center;
  border-radius: 8px;
}

.box:hover {
  background: var(--primary-color);
  color: #fff;
}

/* Testimonials */
#testimonials {
  height: 100%;
  padding-top: 100px;
}

#testimonials h2 {
  text-align: center;
  padding-bottom: 40px;
}

#testimonials .testimonial {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 8px;
}

#testimonials .testimonial img {
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Contact Form */
#contact-form {
  text-align: center;
}

#contact-form form {
  text-align: center;
}

#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form input,
#contact-form textarea {
  width: 50%;
  padding: 10px;
  border: 1px #ddd solid;
  border-radius: 8px;
}

#contact-form textarea {
  height: 100px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: var(--primary-color);
}

/* Footer */
#footer {
  text-align: center;
  padding: 20px;
}
